a:hover { color : red }
td.navbar { background-color : #fea ; width : 20% }
ul.navbarmain { list-style-type: none ; padding-left : 0em }
ul.navbarnested { list-style-type : none ; padding-left : 2em }
h3.navbar { font-size: medium ; font-weight : bold }
b.before { color : green }
b.after { color : red }
p.onebuttonform { margin-top: 0em }
td.inactive { background-color : lightgreen }

